.role-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px;
    height: 100vh;
}

.table-wrapper {
    margin-top: 16px;
    max-height: 60vh; 
    overflow-y: auto;
}

.add-role-button {
    margin-bottom: 16px;
}

.role-table {
    width: 100%;
    border-collapse: collapse;
}

.role-table th,
.role-table td {
    border: 1px solid black;
    padding: 8px;
}

.action-button.check {
    background-color: var(--primary-color); 
}

.action-button.ban {
    background-color: rgb(255, 153, 0);
}

.action-button.delete {
    background-color: red;
}

.action-button {
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    &:hover{
        cursor: pointer;
    }
}

.referentiel-page h1 {
    font-size: 3em;
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .modal-buttons {
    margin-top: 20px;
    text-align: right;
  }
  