@import url("../../../common/variables/variables.css");

.primary-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    max-height: 40px;
    height: 34px;
    
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;

    outline: none;
    appearance: none;
    color: var(--primary-white);
    cursor: pointer;
    &.active-button{
        background-color: var(--primary-color);
        color: var(--primary-white);
    }
    &.inactive-button{
        background-color: transparent;
        color: var(--primary-color);
        &:hover{
            background-color: var(--primary-color);
            color: var(--primary-white);
            transition: 0.5s;
        }
    }
}
